{% extends "main1.html" %}
{% block content %}
<div class="top-heading">
   <h1>Item Catalog Application</h1>
</div>
<header>
   <div class="container">
      <div class="col-md-12">
         <img class= "img-responsive" src="{{url_for('static', filename='sposrts.JPG')}}" sizes="(max-width: 40em) 100vw, 50vw"/>
      </div>
   </div>
</header>
<div class="container">
   <div class="row">
      <div class="categorielist col-lg-8">
         <h1>Category List</h1>
         <div>
            <a href="{{url_for('newCategory')}}">
            <button type="button" class="btn btn-default">Add New Category</button>
            </a>
         </div>
         <div class = 'flash'>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
               {% for message in messages %}
               <li> <strong> {{ message }} </strong> </li>
               {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
         </div>
         {% for category in categories %}
         <div>
            <a href = "{{url_for('itemslist', category_id = category.id)}}">
               <h3>{{category.name}}</h3>
            </a>
            <a href="{{ url_for('editCategory',category_id=category.id) }}">
            <button type="button" class="btn btn-default">Edit</button>
            </a>
            <a href="{{url_for('deleteCategory', category_id = category.id)}}">
            <button type="button" class="btn btn-default">Delete</button>
            </a>
         </div>
         {% endfor %}
      </div>
      <div class="latestitems col-lg-4">
         <div>
            <h1> Latest Items </h1>
            <div>
               {% for i in item %}
               <h3>{{ i.name }}({{ i.category.name }})</h3>
               {% endfor %}
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
